# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: DingTalk_misson

on:
  schedule:
    - cron: "0 0 0/2 * * ?"
  watch:
    types: [started]
jobs:
  build:

    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id  # 自己点的 start
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests lxml
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Run misson
      run: |
        python run.py ${{ secrets.token }} ${{ secrets.secret }}
